<div>

  <!-- TITULO -->
  <section class="text-gray-600 body-font containerTitulo">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <div class="title">
            <div class="border p-4" style="text-align: center;">
                <b>Participants</b>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="lg:w-6/6 mx-auto">

          


        </div>
      </div>
  </section> -->


  <!-- SPECIAL GUESTS -->
  <!-- <section class="text-white body-font content h-40 justify-center ">
    <div class="flex flex-col text-center w-full">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base font" style="font-size: 2rem; margin-top: 3rem;">Special Guests</p>
  </div>
  </section>

  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-4 mx-auto flex flex-col">
      <div class="lg:w-6/6 mx-auto">
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-200 h-200 inline-flex items-center justify-center  text-gray-600">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="../../assets/img/exhibitors/Susana Landau.jpg">

            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 class="font-medium title-font mt-4 text-white text-lg"> Susana J. Landau <br> slandau&#64;df.uba.ar</h2>
              <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                <p class="text-base text-gray-400">Universidad de Buenos Aires <br>Main Teaching Assistant.</p>
              </div>
          </div>

          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left researchContainer">
            <p class="leading-relaxed text-lg mb-4">
              Research area:
              <br>
              <span class=" p-4 font">Cosmology and gravity | Cosmic Microwave Background | Inflation | Modified Gravity</span>
            </p>

        

          </div>

        </div>
        <br><br><br><hr>
        <div class="flex flex-col sm:flex-row mt-10">
            

            <div class="sm:w-2/3 sm:pr-8 sm:py-8 sm:border-r border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left researchContainer">
              <p class="leading-relaxed text-lg mb-4">
                Research area:
              <br>
              <span class=" p-4 font">Cosmology and gravity | Cosmology | Theoretical Physics | Elementary Particle Physics | Confinement of Quarks and Gluons | Baby Universes</span>
            </p>


              
            </div>

            <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-200 h-200 inline-flex items-center justify-center  text-gray-600">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="../../assets/img/exhibitors/Eduardo Guendelman.jpg">

                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-white text-lg"> Eduardo Guendelman <br> guendel&#64;bgu.ac.il </h2>
                  <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                  <p class="text-base text-gray-400">Ben-Gurion University of the Negev <br> Professor</p>
                </div>
              </div>

        </div>
        <br><br><br><hr>
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-200 h-200 inline-flex items-center justify-center  text-gray-600">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="../../assets/img/exhibitors/Hermano Velten.jpg">

            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 class="font-medium title-font mt-4 text-white text-lg"> Hermano Velten <br> velten&#64;pq.cnpq.br</h2>
              <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                <p class="text-base text-gray-400">Universidade Federal de Ouro Preto (UFOP) <br> Professor</p>
              </div>
          </div>

          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left researchContainer">
            <p class="leading-relaxed text-lg mb-4">
              Research area:
              <br>
              <span class=" p-4 font">Cosmology and gravity | Dark matter | Dark energy | Structure Formation | Observational Cosmology.</span>
            </p>

   


          </div>

        </div>
        <br><br><br><hr>
        <div class="flex flex-col sm:flex-row mt-10">
            

            <div class="sm:w-2/3 sm:pr-8 sm:py-8 sm:border-r border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left researchContainer">
              <p class="leading-relaxed text-lg mb-4">
                Research area:
              <br>
              <span class=" p-4 font">
                Cosmology and gravity | Cosmology | Relativity | Theories of Gravity | Dark Energy | Dark Matter | Inflation | Astrophysical and cosmological implications of modified theories of gravity | Observational Cosmology | Computational Cosmology | Cosmological Data Analysis | Gravitational Waves.</span>
              </p>  
  
            </div>

            <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-200 h-200 inline-flex items-center justify-center  text-gray-600">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="../../assets/img/exhibitors/Emmanuel Saridakis.jpg">

                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-white text-lg">  Emmanuel N. Saridakis <br> msaridak&#64;noa.gr</h2>
                  <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                  <p class="text-base text-gray-400">Institute for Astronomy, Astrophysics, Space Applications and Remote Sensing (IAASARS) – National Observatory of Athens (NOA) <br> SENIOR RESEARCHER </p>
                </div>
              </div>

        </div>
        <br><br><br><hr>
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-200 h-200 inline-flex items-center justify-center  text-gray-600">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="../../assets/img/exhibitors/José Geraldo Pereira.jpg">

            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 class="font-medium title-font mt-4 text-white text-lg"> José Geraldo Pereira  <br> jg.pereira&#64;unesp.br</h2>
              <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                <p class="text-base text-gray-400">Universidade Estadual Paulista São Paulo - Brazil <br> Professor of Theoretical Physics </p>
            </div>
          </div>

          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left researchContainer">
            <p class="leading-relaxed text-lg mb-4">
              Research area:
              <br>
              <span class=" p-4 font">Cosmology and gravity | Gravitation | Gauge Theories | Cosmology</span>
            </p>

          </div>

        </div>
      </div>
    </div>
  </section>





  <section class="text-white body-font content h-40 justify-center ">
    <div class="flex flex-col text-center w-full">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base font" style="font-size: 2rem; margin-top: 3rem;">Full list of Speakers</p>
    </div>
  </section> -->

  <section class="mx-10 mb-20 mt-20 contentForm">
    <div class="mat-elevation-z8 bg-gray-900">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="N">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <!-- <td mat-cell *matCellDef="let element">{{element.Position}}</td> -->
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
        <!-- NOMBRE Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
        <!-- AFILIACION Column -->
        <ng-container matColumnDef="Affiliation">
          <th mat-header-cell *matHeaderCellDef> Afiliation </th>
          <td mat-cell *matCellDef="let element"> {{element.Affiliation}} </td>
        </ng-container>
        <!-- footer -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- paginador -->
      <mat-paginator [pageSizeOptions]="[10, 20, 40]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </section>

  


  


</div>