<footer class="text-gray-600 body-font footer">
    <!-- <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
        
      </div>
    </div> -->



    <div class="border-t border-gray-200">
      <div class=" px-5 py-8 flex flex-wrap mx-auto items-center" style="justify-content: space-around;">
        

        <div>
          <img src="../../assets/img/logos/logo_web_uta.png" alt="uta" style="width: 20rem;">
        </div>

        <div>
          <img src="../../assets/img/logos/Proyecto Quitar fondo.png" alt="física" style="width: 17rem;">
        </div>

    
        <div>
          <a href="https://www.researchgate.net/lab/COSMOGRAV-UTA-Giovanni-Otalora" target="_blank">
            <img src="../../assets/img/logos/CosmoGrav-UTA.png" alt="cosmograv" style="height: 15rem;">
          </a>
        </div>

        <div>
          <img src="../../assets/img/logos/logo unt 1.png" alt="uta" style="width: 23rem;">
        </div>
        
        <div>
          <a href="https://sites.google.com/unitru.edu.pe/gracocc/acerca-de/gracocc" target="_blank">
            <img src="../../assets/img/logos/logo3-removebg-preview.png" alt="uta" style="width: 23rem;">
          </a>
        </div>

        <div>
          <img src="../../assets/img/logos/logo-acreditacion-2.png" alt="acreditacion" style="height: 10rem;">
        </div>
        

<!--         
        <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start">
        </div>
        <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start">
        </div>
        <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start">
        </div> -->
        <!-- IMAGEN LOGO COSMOGRAV-UTA -->
        <!-- <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
          <img src="../../assets/img/CosmoGrav-UTA.png" alt="acreditacion" style="height: 20rem;">
          
        </span> -->
      </div>
    </div>

    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row " style="justify-content: space-around;">

          <p class="text-gray-500 text-sm text-center sm:text-left">©2024 Universidad de Tarapacá —
            <a href="https://www.uta.cl/" class="text-gray-600 ml-1" target="_blank" rel="noopener noreferrer">uta.cl</a>
          </p>

          <p class="text-gray-500 text-sm text-center sm:text-left">©2024 Universidad Nacional de Trujillo —
            <a href="https://www.unitru.edu.pe/" class="text-gray-600 ml-1" target="_blank" rel="noopener noreferrer">unitru.edu.pe</a>
          </p>


        
        
      </div>
    </div>
  </footer>