<div>
    <section class="text-gray-600 body-font containerTitulo">
        <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <div class="title">
                <div class="border p-4" style="text-align: center;">
                    <b>The Schedule</b>
                </div>
            </div>
        </div>
        </div>
    </section>

  <section class="text-gray-600 body-font content2 container my-20">
      <mat-tab-group>
            <!-- martes -->
            <mat-tab label="Tuesday">
                <br>
                <div class="schedule" style="display: grid; justify-content: center;">
                    <h1>Tuesday</h1>
                    <hr>
                    <div class="session"><h2>08:00 - 08:30  Registration</h2></div>
                    <hr>
                    <div class="session"><h2>08:30 - 09:00  Opening</h2></div>
                    <hr>
                    <div class="session"><h2>09:00 - 10:00	Coctel </h2></div>
                    <hr>
                    <div class="session"><h2>10:00 - 11:00	Seminar 1: Susana Landau </h2></div>
                    <hr>
                    <div class="session"><h2>11:00 - 11:15	Short talk 1: Andrés Burton Villalobos </h2></div>
                    <hr>
                    <div class="session"><h2>11:15 - 11:30	Short talk 2: Fabián Trigo </h2></div>
                    <hr>
                    <div class="session"><h2>11:30 - 11:45	Coffee break </h2></div>
                    <hr>
                    <div class="session"><h2>11:45 - 12:15	Talk 1: Manuel González Espinoza </h2></div>
                    <hr>
                    <div class="session"><h2>12:15 - 12:45	Talk 2: David Choque </h2></div>
                    <hr>
                    <div class="session"><h2>12:45 - 13:00	Short talk 3: Matías Leibenovich </h2></div>
                    <hr>
                    <div class="session"><h2>13:00 - 14:45	Lunch </h2></div>
                    <hr>
                    <div class="session"><h2>14:45 - 15:45	Seminar 2: Giovanni Otalora </h2></div>
                    <hr>
                    <div class="session"><h2>15:45 - 16:00	Short talk 4: Greco Alejandro Peña </h2></div>
                    <hr>
                    <div class="session"><h2>16:00 - 16:15	Short talk 5: Rahul Thakur </h2></div>
                    <hr>
                    <div class="session"><h2>16:15 - 16:45	Talk 3: José Villanueva </h2></div>
                </div>
            </mat-tab>

            <!-- miércoles -->
            <mat-tab label="Wednesday">
                <br>
                <div class="schedule" style="display: grid; justify-content: center;">
                    <h1>Wednesday</h1>
                    <hr>
                    <div class="session"><h2>08:45 - 09:45  Seminar 3: Eduardo Guendelman</h2></div>
                    <hr>
                    <div class="session"><h2>09:45 - 10:00  Short talk 6: Gabriela Conde Saavedra</h2></div>
                    <hr>
                    <div class="session"><h2>10:00 - 10:15	Short talk 7: Rahul Bhagat </h2></div>
                    <hr>
                    <div class="session"><h2>10:15 - 10:45	Talk 4: Graeme Candlish </h2></div>
                    <hr>
                    <div class="session"><h2>10:45 - 11:15	Coffee break / Poster </h2></div>
                    <hr>
                    <div class="session"><h2>11:15 - 12:15	Seminar 4: José Geraldo Pereira </h2></div>
                    <hr>
                    <div class="session"><h2>12:15 - 12:30	Short talk 8: Amarkumar Agrawal </h2></div>
                    <hr>
                    <div class="session"><h2>12:30 - 13:00	Talk 5: Bivudutta Mishra </h2></div>
                    <hr>
                    <div class="session"><h2>13:00 - 16:45	Activity - Free </h2></div>
                </div>
            </mat-tab>
            
            <!-- jueves -->
            <mat-tab label="Thursday">
                <br>
                <div class="schedule" style="display: grid; justify-content: center;">
                    <h1>Thursday</h1>
                    <hr>
                    <div class="session"><h2>09:15 - 10:15  Seminar 5: Hermano Velten</h2></div>
                    <hr>
                    <div class="session"><h2>10:15 - 10:30  Short talk 9: Oriana Labrin</h2></div>
                    <hr>
                    <div class="session"><h2>10:30 - 10:45	Short talk 10: Shubham Narawade </h2></div>
                    <hr>
                    <div class="session"><h2>10:45 - 11:15	Coffee break / Poster </h2></div>
                    <hr>
                    <div class="session"><h2>11:15 - 11:45	Talk 6: Nelson Videla </h2></div>
                    <hr>
                    <div class="session"><h2>11:45 - 12:15	Talk 7: Pedro Labraña </h2></div>
                    <hr>
                    <div class="session"><h2>12:15 - 12:30	Short talk 11: Diego Navia Rojas </h2></div>
                    <hr>
                    <div class="session"><h2>12:30 - 12:45	Short talk 12: Diego Fonseca Moreno </h2></div>
                    <hr>
                    <div class="session"><h2>12:45 - 14:45	Lunch </h2></div>
                    <hr>
                    <div class="session"><h2>14:45 - 15:45	Seminar 6: David Wands </h2></div>
                    <hr>
                    <div class="session"><h2>15:45 - 16:15	Talk 8: Pedro Alvarez </h2></div>
                    <hr>
                    <div class="session"><h2>16:15 - 16:45	Talk 9: Diego Molina </h2></div>
                </div>
            </mat-tab>

            <!-- viernes -->
            <mat-tab label="Friday">
                <br>
                <div class="schedule" style="display: grid; justify-content: center;">
                    <h1>Friday</h1>
                    <hr>
                    <div class="session"><h2>09:15 - 10:15  Seminar 7: Emmanuel Saridakis</h2></div>
                    <hr>
                    <div class="session"><h2>10:15 - 10:45  Talk 10: Joel Saavedra</h2></div>
                    <hr>
                    <div class="session"><h2>10:45 - 11:15	Coffee break </h2></div>
                    <hr>
                    <div class="session"><h2>11:15 - 11:45	Talk 11: Milko Estrada </h2></div>
                    <hr>
                    <div class="session"><h2>11:45 - 12:15	Talk 12: José Tomás Gálvez Ghersi </h2></div>
                    <hr>
                    <div class="session"><h2>12:15 - 12:30	Short talk 13: Lokesh Kumar Duchaniya </h2></div>
                    <hr>
                    <div class="session"><h2>12:30 - 12:45	Short talk 14: Juan Cabello </h2></div>
                    <hr>
                    <div class="session"><h2>12:45 - 14:45	Lunch </h2></div>
                    <hr>
                    <div class="session"><h2>14:45 - 15:45	Seminar 8: María José Guzmán </h2></div>
                    <hr>
                    <div class="session"><h2>15:45 - 16:15	Talk 13: Victor Cardenas </h2></div>
                    <hr>
                    <div class="session"><h2>16:15 - 16:30	Short Talk 15: Francisco Plaza </h2></div>
                    <hr>
                    <div class="session"><h2>16:30 - 16:45	Photography / Closing / Coctel </h2></div>
                </div>
            </mat-tab>
            
      </mat-tab-group>
  </section>
</div>
