<div>
  <!-- TITULO -->
  <section class="text-gray-600 body-font containerTitulo">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <!-- <div class="header">
              from 15 to 18 October 2024
          </div> -->
          <!-- <br> -->

          <div class="title">
              <div class="border p-4" style="text-align: center;">
                  <b>The Venue</b>
              </div>
          </div>
        </div>
      </div>
  </section>


  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-white  lg:mb-0 mb-4 font" style="font-size: 2rem;">Arica, a city in northern Chile, is renowned for its pleasant climate and beautiful coastal scenery, earning it the nickname "City of Eternal Spring." It is situated near the border with Peru and serves as an important port and gateway to the Andean region.

          Arica combines natural beauty, historical significance, and vibrant cultural experiences, making it a captivating destination for travelers.</h1>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/_MG_1207.JPG">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/Río-Lluta.jpeg">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="../../assets/img/img venue/Chungara_Lake_and_Volcan_Sajama_Chile_Luca_Galuzzi_2006.jpg">
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="../../assets/img/img venue/Catedral-San-Marcos-de-Arica.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/ch02.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/EarY1_sWkAAvDAs.jpeg">
          </div>
        </div>
      </div>
      <br>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/festival.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="../../assets/img/img venue/chinchorro-mummies.jpg">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="../../assets/img/img venue/morro-de-arica.jpg">

          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="../../assets/img/img venue/lago_chungara_twitter_chileestuyo.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/Iglesia-San-Jose-Pueblo-de-Parcohaylla.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="../../assets/img/img venue/volcan_guallatiri.jpg">
          </div>
        </div>
      </div>
      
    </div>
    
  </section>

  

</div>



