<div class="row header d-flex justify-content-between text-center" >
        <div class="col-1 font link-text" routerLink="/home" >Event</div>

        <div class="col-11 text-end">
    
            <span routerLink="/home"            class="link-text me-3" >Home</span>
            <span routerLink="/schedule"        class="link-text me-3" >Schedule</span>
            <span routerLink="/speakers"      class="link-text me-3">Participants</span>
            <span routerLink="/organizator-committee"    class="link-text me-3" >Organizing Committee</span>
            <!-- <span routerLink="/cientific-committee"    class="link-text me-3" >Cientific Committee</span> -->
            <span routerLink="/venue"           class="link-text me-3" >The Venue</span>
    
        </div>

</div>